<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>책 상세보기</title>
  <link href="book-styles.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<div class="container">
  <h1 class="title">책 상세보기</h1>
  <div class="book-detail" id="book-detail">
  </div>

</div>
<script>
  // bookId 를 url 주소에서 id에 해당하는 값이 있는지 확인(=검색) 하고, 존재하는 값을 가져와서 사용
  const params = new URLSearchParams(window.location.search);
  const bookId = params.get("id");
  $.ajax({
    url: `/api/books/${bookId}`,
    method: "GET",
    success: function (중괄호) { //each 사용 X
      $("#book-detail").html(`
                        <p><strong>이미지 : </strong> <img class="book-image" src="${중괄호.imagePath ? 중괄호.imagePath : '/images/defaultImg.png'}"> </p>
                        <p><strong>책제목 : </strong> ${중괄호.title} </p>
                        <p><strong>저자 : </strong> ${중괄호.author} </p>
                        <p><strong>장르 : </strong> ${중괄호.genre} </p>
                        <!--  URLSearchParams 에서 가져온 id값으로 해당 하는 데이터 수정 경로 설정  -->
                        <a class="btn" id="edit-btn" href="/books/update?id=${bookId}"  >수정하기</a>
                    `);
    }
  });
  // body 태그내에서 HTML 태그로 직접 적으로 작성하지 않은 태그는 아래와 같이 작성할 경우 동작하지 않음
  //$("#delete-btn").click(function () {}; -> 스크립트 태그안에서 만들어진 버튼이라서 취급하지 않음. 동적 정적 과 관련있음
  $(document).on("click", "#delete-btn", function () {
    if(confirm("정말로 삭제하시겠습니까?")) {
      $.ajax({
        url: `/api/delete/${bookId}`,
        method: "DELETE",
        success:
                function () {
                  alert("책이 성공적으로 삭제되었습니다.");
                  window.location.href = "/books";
                },
        error:
                function () {
                  alert("삭제도중 에러가 발생했습니다.")
                }
      })
    }
  });

</script>
</body>
</html>